.modal{
    z-index: -1;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: transparent;
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease;

    .opacity{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        z-index: 1;
    }

    .cont{
        display: grid;
        grid-template-columns: 11fr 0.25fr;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.5);
        padding: 10px;
        background: #fff;
        z-index: 2;
        max-width: 90vw;
        max-height: 80vh;
        min-width: 20vw;
        width: fit-content;
        border-radius: 4px;
        transition: 0.25s ease;
        border: 1px solid transparent;
        box-shadow: 0 0 5px 0 transparent;
        overflow-y: hidden;

        .close{
            display: grid;
            position: absolute;
            top: 5%;
            right: 2.5%;
            cursor: pointer;
            z-index: 2;
            border-radius: 50%;
            background: #fff;
            transition: 0.25s ease;
            padding: 5px;
            justify-items: center;
            align-items: center;


            &:hover,&:focus{
                background: #eee;
            }

        }

        .head{
            z-index: 1;
            text-align: center;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            font-size: 22pt;
            text-decoration: underline;
            padding: 0 20px;
            max-width: 60vw;
        }

        .body{
            position: relative;
            max-height: 70vh;
            overflow-y: visible;
            padding: 10px 0;
            height: auto;
        }

        .options{
            position: relative;
            width: 90%;
            left: 50%;
            transform: translate(-50%);
            color: blue;

            .option{
                text-align: center;
                margin: 10px 0;
                cursor: pointer;
                background: #fff;
                transition: 0.25s ease;
                border-radius: 4px;
                padding: 5px;

                &:hover,&:focus{
                    background: #eee;
                }
            }

        }


    }

}

.modal.show{

    pointer-events: auto;
    opacity: 1;
    z-index: 200;

    .cont{
        transform: translate(-50%,-50%) scale(1);
    }

}


@media screen and (max-width: 927px){
    .modal{
        .cont{
            min-width: 30vw;
            overflow-y: auto;
        }
    }
}

@media screen and (max-width: 522px){
    .modal{
        .cont{
            min-width: 60vw;
        }
    }
}


@media screen and (max-width: 412px){
    .modal{
        .cont{
            min-width: 80vw;
        }
    }
}

@media screen and (max-width: 312px){
    .modal{
        .cont{
            min-width: 90vw;
        }
    }
}